{% if page.footer %}
    <div class="container-footer">
        <footer role="contentinfo" class="main-footer">
            <p class="footer-text">Pilot Eleven is a netlabel releasing and sharing music and sound under <a href="http://creativecommons.org/choose/">Creative Commons licences</a>.</p>
          {{ page.footer }}
        </footer>
    </div>
{% endif %}
