<div class="monthly-title">
    <h3>{{ content.field_title }}</h3>
</div>

{{ content.field_cover }}

<div class="monthly-link">
{{ content.field_title_with_link }}
</div>

{{ content.field_bandcamp_internetarchive }}

